<div *ngIf="cocktail">
  <div class="row">
    <div class="col-4">
      <img class="img-fluid" style="max-height: 150px;" [src]="cocktail.img" [alt]="cocktail.name">
    </div>
    <h3 class="col-8">{{cocktail.name}}</h3>
  </div>
  <hr>
  <div class="row">
    <p class="col-12" [textContent]="cocktail.description"></p>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let ingredient of cocktail.ingredients">
          {{ ingredient.name }}  <span class="badge badge-pill badge-secondary ml-auto">{{ ingredient.quantity }}</span>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row margin-cancel">
    <button type="button" class="btn btn-success" (click)="editCocktail(cocktail)">Editer le cocktail</button>
    <button type="button" class="btn btn-secondary ml-auto" (click)="addPanier(cocktail.ingredients)">Ajouter au panier</button>
  </div>
</div>
